body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.orange{
    color:orangered
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
   color: white;
   padding: 10px 40px;
   border-radius: 5%;
}
.top-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sec2p{
    padding-top: 100px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.pic2{
    height: 500px;
    width: 80%;
}
.dev-card{
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 5px;
}
#wev-dev1{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}